.logo {
  max-width: 70%
}

.jumbotron {
  background-color: #FFF4EC;
}

.logotitle {
  font-size: 1.5rem;
}

.navbar {
  font-family: 'Cutive Mono', 'sans-serif'
}

.warrior {
  display: block;
}

h3 {
  font-family: "Caveat", "sans-serif";
  font-size: 2rem;
}